<div class="fixed inset-0 flex items-center justify-center p-4">
    <!-- Dialog Box -->
    <div class="relative bg-white shadow-lg rounded-lg w-full max-w-2xl">
      <!-- Toolbar (Inside Dialog) -->
      <div class="absolute top-0 left-0 w-full bg-blue-600 text-white p-4 flex justify-between items-center rounded-t">
        <h2 class="text-lg font-bold">Admin Profile</h2>
        <button (click)="closeDialog()" class="text-white text-2xl px-2 font-bold">&times;</button>
      </div>
  
      <!-- Main Content (Left & Right Containers) -->
      <div class="flex flex-col md:flex-row p-4 pt-8">
        <!-- Left Container (Image) -->
        <div class="md:w-1/2 p-2 flex justify-center mt-8">
          <img
            [src]="imageProfile"
            alt="Profile Image"
            class="lg:w-72 lg:h-72 h-32 w-32 md:h-64 md:w-64 rounded-full border shadow-lg"
          />
        </div>
  
        <!-- Right Container (Details) -->
        <div class="md:w-1/2 text-center mt-12 md:text-left">
          <h2 class="text-2xl md:text-xl sm:text-lg font-bold mb-2">{{ admin.fullName }}</h2>
          <p class="lg:text-lg text-gray font-mono">Email: {{ admin.email }}</p>
          <p class="lg:text-lg text-gray font-mono">Phone: {{ admin.phone }}</p>
          <p class="lg:text-lg text-gray font-mono">Address: {{ admin.address }}</p>
          <p class="lg:text-lg text-gray font-mono">Gender: {{ admin.gender }}</p>
          <p class="lg:text-lg text-gray font-mono">Year of Birth: {{ admin.yOfBirth }}</p>
        </div>
      </div>
    </div>
  </div>
  